In [18]:
import pandas as pd
import numpy as np
data = pd.read_csv("netflix_titles (1).csv")

In [25]:
print(data.head())

  show_id     type                  title         director                           cast  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson                            N/A
1      s2  TV Show          Blood & Water              N/A  Ama Qamata, Khosi Ngema, G...
2      s3  TV Show              Ganglands  Julien Leclercq  Sami Bouajila, Tracy Gotoa...
3      s4  TV Show  Jailbirds New Orleans              N/A                            N/A
4      s5  TV Show           Kota Factory              N/A  Mayur More, Jitendra Kumar...

         country          date_added  release_year rating   duration  \
0  United States  September 25, 2021          2020  PG-13     90 min
1   South Africa  September 24, 2021          2021  TV-MA  2 Seasons
2            N/A  September 24, 2021          2021  TV-MA   1 Season
3            N/A  September 24, 2021          2021  TV-MA   1 Season
4          India  September 24, 2021          2021  TV-MA  2 Seasons

                       listed_in                    description
0                  Documentaries  As her father nears the en...
1  International TV Shows, TV...  After crossing paths at a ...
2  Crime TV Shows, Internatio...  To protect his family from...
3         Docuseries, Reality TV  Feuds, flirtations and toi...
4  International TV Shows, Ro...  In a city of coaching cent...

In [20]:
print("\n\nAttributes in Data:")
print("==========================\n")

print(data.columns)

print("\n\nNumber of Instances in Data:",data["show_id"].count())
print("========================================\n")

Attributes in Data:
==========================

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year',
       'rating', 'duration', 'listed_in', 'description'],
      dtype='object')


Number of Instances in Data: 8807
========================================

In [27]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000